<h3>{{ roomName }}</h3>
<div class="scroll-parent" *ngIf="this.currentRoom.roomName !== ''">
  <ul #scrollMe>
    <li *ngFor="let message of messages"  [ngClass]="{'current': message.author===loggedInUser}">
      <div class="message-wrapper">
        <div class="author">
          {{message.author}}
        </div>
        <div class="message">
          {{message.body}}
        </div>
      </div>
    </li>
  </ul>
  <form (ngSubmit)="f.form.valid && submitMessage()" #f="ngForm" class="col-12 p-0">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" id="body" required [(ngModel)]="model.body" name="body" placeholder="Message" #message="ngModel">
        <span class="input-group-btn w-25">
          <button type="submit" class="btn btn-success w-100">Send</button>
        </span>
      </div>
    </div>
  </form>
</div>