<header class="row">
  <div class="col-6 vertical-middle">
    Welcome
    <b>{{ loggedInUser }}</b>
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-danger" [routerLink]="['/login']">Logout now!</a>
  </div>
</header>
<div class="row">
  <div class="col-12 col-md-8 mt-4 pr-md-5">
    <app-chat-room [currentRoom]="currentRoom"></app-chat-room>
  </div>
  <div class="col-12 col-md-4 mt-4">
    <app-chat-room-list (activeChat)="setCurrentChat($event)"></app-chat-room-list>
  </div>
</div>
