ul {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    color: #656565;
    font-weight: bold;
    border: 1px solid #e2e2e2;
    transition: all 0.4s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &.active {
        transform: scale(0.98);
        background: #007bff;
        color: white;
        box-shadow: none;
        cursor: pointer;
    }
  }
}