<h5>Chat Rooms</h5>

<form (ngSubmit)="f.form.valid && submitRoom()" #f="ngForm">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" id="body" required [(ngModel)]="model.roomName" name="roomName" placeholder="Room name"
        #roomname="ngModel">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-success">Add</button>
      </span>
    </div>
    <div *ngIf="f.submitted && !roomname.empty" class="help-block text-danger">You need room name</div>
  </div>

</form>
<ul>
  <li *ngFor="let room of rooms" (click)="setActiveChat(room)" [ngClass]="{'active': active.roomName === room.roomName}">
    {{room.roomName}}
  </li>
</ul>